.project {
    position: static;
    display: flex;
    width: 100%;
    opacity: 1;
    transition: opacity .5s ease-in-out;

    &.is-loading {
        position: fixed;
        top: -99999999;
        opacity: 0;
    }

    @include phone {
        display: block;
    };

    &__featured {
        display: flex;
        justify-content: space-between;

        div {
            width: 49%;

            .image {
                width: 100%;
                height: auto;
            }
        }
    }

    &__info {
        padding-right: 40px;
        width: 350px;
        flex-grow: 1;
        flex-shrink: 0;


        &__header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            h1 {
                margin: 0;
                line-height: 25px;
            }
        }

        @include phone {
            width: 100%;
        };

        .slider__nav {
            position: static;
            transform: translate(0,0);
        }
    }

    &__description {
        position: relative;
        font-size: 12px;
        color: palColor( gray );
        height: 70vh;
        overflow-y: scroll;

    }

    &__slider {
        flex-grow: 0;
        width: 100%;
    }
}
