.slider {
    position: relative;
    width: 100%;
    opacity: 0;
    overflow: hidden;

    &__container {
        position: relative;
        height: 100%;

        @include phone {
            width: 100% !important;
        };
    }

    &__item {
        display: inline-block;
        float: left;
        padding-right: 100px;
        height: 100%;
        transition: opacity .3s ease-in-out;

         > img {
             width: 1px;
             height: 1px;
         }

        @include phone {
            padding-right: 0;

            img {
                width: 100%;
                height: auto !important;
            }
        };
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 45px;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: -.5px;

        &.hidden { display: none; }

        @include phone {
            display: none;
        };
    }

    &__nav {
        position: absolute;
        top:  50%;
        width: 20px;
        height: 30px;
        padding: 5px;
        transform: translateY( -50% );
        cursor: pointer;
        z-index: 1000;
        user-select: none;

        &:hover {
            background-color: palColor( black );
            path { stroke: palColor( white ); }
        }

        &--prev { left: 20px; }
        &--next { right: 20px; }

        path { stroke: palColor( gray ); }
    }
}
