.flex-container {
    display: flex;
    flex-direction: column;
    height: calc( 100vh - 100px );
    overflow: hidden;

    @include phone {
        height: auto;
    };

    > .flex-main {
        display: flex;
        flex-grow: 1;
    }

    &.flex--normal { height: auto; }
}
