.header {
    display: flex;

    &__logo {
        display: flex;
        align-items: flex-end;
        width: 200px;
        font-size: 14px;
        font-weight: fontWeight( bold );
        text-transform: uppercase;
    }
}
