<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ siteName }}</title>
    	<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    	<link rel="home" href="{{ siteUrl }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/dist/css/main.css" media="screen" title="no title">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8">
    	{% block meta %}
    		<meta property="fb:app_id" content=""/>
    		<meta property="og:type" content=""/>
    		<meta property="og:title" content=""/>
    		<meta property="og:image" content=""/>
    		<meta property="og:site_name" content=""/>
    		<meta property="og:description" content=""/>
    	{% endblock %}
    </head>
    <body>
        <div class="flex-container {% block pageClass %}{% endblock %}">
            <div class="flex-header">
                {% block header %}
        	    {% endblock %}
            </div>

            <div class="flex-main">
            	{% block content %}
            	{% endblock %}
            </div>

        	{% block modals	 %}
        	{% endblock %}

        </div>

    	{% block scripts %}
    		<script src="/dist/js/app.js"></script>
    	{% endblock %}
    </body>
</html>
