<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ siteName }}</title>
    	<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    	<link rel="home" href="{{ siteUrl }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/master.css" media="screen" title="no title">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8">
    	{% block meta %}
    		<meta property="fb:app_id" content="1517116751852561" />
    		<meta property="og:type" content="video.rates" />
    		<meta property="og:title" content="Motion Graphics Collective"/>
    		<meta property="og:image" content="{{siteUrl}}static/images/facebooklogo.png"/>
    		<meta property="og:site_name" content="Motion Graphics Collectice"/>
    		<meta property="og:description" content="Publishing platform for motion designers"/>
    	{% endblock %}
    </head>
    <body>

        {% block header %}
    	{% endblock %}

    	{% block main %}
    	{% endblock %}

    	{% block footer %}
    	{% endblock %}

    	{% block modals	 %}
    	{% endblock %}


    	{% block scripts %}
    		<script src="/dist/js/app.js"></script>
    	{% endblock %}
    </body>
</html>
