<header class="header">
    <a href="{{ siteUrl }}" class="header__logo">
        <span>Jeroen Bruggenwirth</span>
        <span>Photographer</span>
    </a>
    <nav class="navigation__container">
        <ul class="navigation navigation--left">
            <li class="navigation__item">
                <a href="#">Foreign field</a>
            </li>
            <li class="navigation__item">
                <a href="#">Rhenus Encyclopedia</a>
            </li>
            <li class="navigation__item">
                <a href="#">The Great New Eastern</a>
            </li>
            <li class="navigation__item">
                <a href="#">Wild<del>life</del>light</a>
            </li>
        </ul>

        <ul class="navigation navigation--left">
            <li class="navigation__item">
                <a href="#">About</a>
            </li>
            <li class="navigation__item">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>
